/Assignment.class
/ChangeWeight.class
/Course.class
/CourseName.class
/File.class
/Gradeable.class
/Graduate.class
/Score.class
/Student.class
/StudentName.class
/UnderGraduate.class
/ChangeWeight$1.class
/Category.class
/override.class
