/courseDetail.class
/CourseDetail.class
/CourseDetail$1.class
/ColumnGroup.class
/GroupableTableHeader.class
/GroupableTableHeaderUI.class
/CourseDetail$2.class
/CourseDetail$3.class
/CourseDetail$4.class
